// Color Variables
$primary-color: rgb(117, 72, 143);
$text-color: #111;
$text-color-dark: #3f035f;
$text-color-light: #EEE;
$body-color: #fff;
$border-color: #D1D1D1;
$black: #000;
$white: #fff;
$violet: #614961;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient( 27deg, rgb(144, 90, 175) 0%, rgb(120, 37, 165) 100%);

// Font Variables
$header-font : 'Lato', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';