{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div >
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <article class="row mx-auto mb-5">
        <div class="col-md-2 card rounded-0 border-0">
          <div class="card-body px-0">
            <img width=120 height=120 src="{{ .Params.Icon | absURL }}" alt="{{ .Title | markdownify }}" class="img-thumbnail rounded float-left mr-4">
          </div>
          
          
        </div>
        <div class = "col-md-9 my-3">
            <a href="{{ .Permalink }}" class="h4 d-block">{{ .Title | markdownify }}</a>
            <p>{{ .Description }}</p>
            <a href="{{ .Permalink }}" class="btn btn-sm btn-outline-primary">Read More</a>
          </div>
      </article>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>


{{ end }}